body{
background:#f8f9fa;
}

.navbar-brand{
letter-spacing:1px;
}

.search-box{
width:50%;
}

.navbar .nav-link{
transition:all .3s ease;
}

.navbar .nav-link:hover{
transform:translateY(-2px);
}

#cart-count{
font-size:.7rem;
}

.dropdown-menu{
border:none;
box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.card{
border:none;
box-shadow:0 2px 15px rgba(0,0,0,.08);
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
}

.btn{
border-radius:10px;
}

.form-control{
border-radius:10px;
}
.search-btn{
    background:#000;
    color:#fff;
    border:1px solid #000;
    border-radius:10px;
}

.search-btn:hover{
    background:#222;
    color:#fff;
}
/* =======================
CART PAGE
======================= */

.cart-title{
font-weight:700;
color:#212529;
border-left:5px solid #212529;
padding-left:12px;
margin-bottom:25px;
}

.cart-header{
background:#212529;
color:white;
padding:15px;
border-radius:10px;
margin-bottom:15px;
box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.cart-item{
background:white;
padding:20px;
border-radius:10px;
margin-bottom:15px;
box-shadow:0 2px 10px rgba(0,0,0,.06);
transition:all .3s ease;
}

.cart-item:hover{
transform:translateY(-3px);
}

.cart-img{
width:90px;
height:90px;
object-fit:cover;
border-radius:8px;
border:1px solid #eee;
margin-right:15px;
}

.product-name{
font-weight:500;
}

.price{
color:#6c757d;
}

.total-price{
color:#212529;
font-weight:700;
}

.btn-qty{
width:35px;
height:35px;
border:1px solid #dee2e6;
background:white;
border-radius:6px;
}

.qty-box{
width:50px;
height:35px;
border:1px solid #dee2e6;
border-radius:6px;
text-align:center;
margin:0 5px;
}

.remove-link{
color:#dc3545;
text-decoration:none;
font-weight:500;
}

.remove-link:hover{
text-decoration:underline;
}

.cart-footer{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,.08);
position:sticky;
bottom:15px;
z-index:10;
}

.continue-shopping{
text-decoration:none;
color:#212529;
font-weight:500;
}

.continue-shopping:hover{
color:black;
}

.btn-checkout{
background:#212529;
color:white;
padding:12px 35px;
border-radius:8px;
border:none;
font-weight:600;
}

.btn-checkout:hover{
background:#111827;
color:white;
}

.empty-cart{
background:white;
padding:60px;
border-radius:12px;
box-shadow:0 2px 15px rgba(0,0,0,.08);
}

.empty-cart-icon{
font-size:80px;
color:#adb5bd;
}

/* Trang base.html */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.main-wrapper {
    flex: 1;
}
.hover-link {
    transition: color 0.2s ease-in-out;
}
.hover-link:hover {
    color: #ffc107 !important; /* Đổi sang màu vàng giống nút Đăng ký khi di chuột qua */
}